/*
Estilos principales
*/
body{
    overflow: hidden;
}
div{
    margin: 0px;
    overflow: hidden;
    height: 400px;
    display: block;

}
#cabecera,#pie{
    width: 100%;
    margin: 0 auto;
    height: 50%;
    margin-top: 20px;
}
#cabecera h2{
    margin-top: 10px;
    font-size: 90px;
}
#cabecera div img {
    max-height: 100px;
}
.azulito{
    background-color: aliceblue;
    border: 2px solid black;
}
.un-tercio{
    width: 32%;
}
.un-cuarto{
    width: 25%;
}
.tres-cuartos{
    width: 70%;
}
.titulo-centrado{
    margin: 0 auto;
    width: 100%;
    text-align: center;
}
#sies{
    float: left;
}
#noes{
    float: right;
}
#abst{

    float: left;
    margin-left: 1.3%;

}
#sies img, #noes img, #abst img{
    width: 100px;
}
#resultados{

    float: left;

}
#botones{
    float: right;
    height: 500px;
}
#botones button{

    width: 90%;
    height: 50px;
    margin: 0 auto;
    margin-top: 10px;
    display: block;
}

#resultados{
    height: 500px;
}

/*
Botones partidos en resultados
*/
.boton-partido{
    width: 150px;
    height: 115px;
    float: left;
    margin-left:10px;
    margin-top: 20px;
    padding-top: 10px;
}
.boton-partido h2{
    margin-top: 0px;
}


